<mat-card>
  <mat-card-title>
    <div class="header">
      <div class="title">
        Importar productos
      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    La importación de empaques automáticamente creará las categorías y productos a los que pertenece el mismo de no
    existir. Las listas de precios deben existir previamente.
    Todos los errores que puedan surgir durante la importación seran notificados la finalizar la misma.
  </mat-card-subtitle>
  <mat-card-content>
    <div>
      Para comenzar con la importación, suba el archivo a continuación.
      <br>
      <br>
      * Los productos detallados en el archivo Excel deben incluir previamente el IVA
    </div>
    <div class="file-row">
      <mat-form-field class="file-field" >
        <ngx-mat-file-input #fileInput [formControl]="fileControl" [accept]="'.xls, .xlsx'"
          placeholder="Archivo de importación"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
        <mat-error>Error: El archivo debe tener la extensión .xls o .xlsx</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="!fileInput.empty && !isLoading && !importResults" class="import-action">
      <button mat-button mat-raised-button color="primary" (click)="importFile()">Comenzar importación</button>
    </div>
    <div class="spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
      <div class="spinner__text">Procesando archivo...</div>
    </div>
    <button mat-raised-button [routerLink]="['../']">Volver</button>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>