<app-form-layout [info]="formInfo" (submitEvent)="onSubmit()">
  <form [formGroup]="resetPasswordForm">

    <mat-form-field class="full-width">
      <input matInput placeholder="Ingrese la contraseña" [type]="hide ? 'text' : 'password'" formControlName="password" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
    </mat-form-field>

    <br>

    <mat-form-field class="full-width">
      <input matInput placeholder="Repetir contraseña" [type]="hide ? 'text' : 'password'" formControlName="repeatPassword" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

  </form>
</app-form-layout>
